.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/app/local.properties
android/app/GeneratedPluginRegistrant.java
android/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/GeneratedPluginRegistrant.h
ios/Flutter/GeneratedPluginRegistrant.m
ios/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
.idea/
*.iml
*.ipr
*.iws
.vscode/
